# Modules
node_modules

# src code
src
.github

# local build
*.tgz

# Configs
tsconfig.json
tsup.config.ts
vitest.config.ts
eslint.config.js
knip.config.ts
.dependency-cruiser.cjs

# Dependency cruiser output
depcruiser-graph.html
depcruiser-graph.svg

# Testing
coverage